.blog{
	background: url('../assets/images/blog/blog_bg.jpg') no-repeat center center;
	background-size: cover;
	
	.blog_list{
		
		li{ 
			border-bottom: 1px solid #444;
			clear: both;
			
			&:first-child a{
				padding-top: 0;
			}
			
			a{ 
				display: block; 
				padding: 2em 0;
				@include self-clear;
			}
		
			img{
				width: 20%;
				float: left;
				margin-right: 2em;
			}
			
			dl{
				text-align: left;
				@include sentinel;
				letter-spacing: 1px;
				
				dt{ font-size: 1.8em; line-height: 1.2em; }
				dd{ @include chronicle_italic; margin-top: .5em; font-size: 1.2em; color: #ccc; line-height: 1.2em; }
				.byline{ @include whitney_book; text-transform: uppercase; line-height: 1.4em; margin-top: 2em; text-transform: uppercase; font-size: .6em; }
				
			}
		}
	}
}

.blog_article{ 
	padding: 4em 0 8em; 
	
	a{ border-bottom: 1px dotted $nkblue; }
	
	dl{ 
		text-align: center; 
		padding: 0 10%;
		margin-bottom: 2em;
	
		dd{ 
			display: inline; 
			font-size: .8em;
			@include whitney_book;
		}
	}
	
	.page_title{ font-size: 2em; margin-bottom: 1em; line-height: 1.4em; text-align: left;}


	.article_summary{
		margin-bottom: 1em;
		padding: 0 12.5%;
		margin-bottom: 2em;
		@include whitney_book;
	}
	
	article{ 
		border-top: 1px solid #ccc; 
		padding: 2em 12.5% 0 12.5%;
		
		h1{
			@include sentinel;
			font-size: 1.8em;
			margin: 1em 0;
			line-height: 1.2em;
		}

		h2{
			@include sentinel;
			font-size: 1.4em;
			margin: 2em 0 1em;
			line-height: 1.4em;
		}

		h3{
			@include sentinel;
			font-size: 1.2em;
			margin: 2em 0 1em;
			line-height: 1.4em;
		}

		strong,b{
			font-family: "Maison Neue Bold";
		}

		ul{
			margin: 1em;
			
			li{
				margin-left: 1em;
				list-style: disc;
				margin: 0 0 .5em;
				line-height: 1.4em;
			}
		}
		
		blockquote{
			margin: 2em 4em;
			background: #eee;
			padding: 2em;
			@include chronicle;
			
			footer{
				padding-top:1em;
				margin-top:1em;
				border-top:1px dashed #ccc;
			}
		}
		
		img{ 
			width: 100%; 
			margin: 1em 0; 
			float: none!important; 
			height: auto;
			
			&.article_image{
				margin: 0 0 2em;
			}
			
		}
		
		.port_img_column{ 
			width: 40%; 
			margin: 0 0 1em 5%; 
			float: right; 
			
			embed{
				width: 100%;
			}
			
			img{
				margin: 0 0 1em;
			}
		}
		
	}
	
	.end_slug{ float: left;}

	article p{ 
		line-height: 1.8em; 
	
	}

	.byline{ 
		clear: both; 
		text-align: center; 
		font-size: .8em; 
		@include whitney_book; 
		padding: .5em 0;
		margin-top: 4em; 
		border-top: 1px solid #ccc; 
		border-bottom: 1px solid #ccc;
	}



	.tag-list{
		@include whitney_book;
		text-align: left;
		@extend article;
		border: 0;
		color: #aaa;

		dt{
			display: inline-block;
			margin-right: 1em;
			color: $nkblue;
		}

		dd{
			margin-right: .5em;
			a{
				border-bottom: none;
			}
		}
	}
	
	
}

.blog-nav{
	text-align: center;
	margin: .5em 0;

	a{
		color: $nkblue;
		@include whitney_book;
	}
}

@media screen and (max-width: 880px){
	.blog{
		.blog_list{
			li{
				dl{
					dt{ font-size: 1.4em; }
					dd{ font-size: 1em; }
				}
			}
		}
	}
	
	
	
	.blog_article{
		padding: 2em 0 6em;
		
		article{ padding: 2em 0 0; }
	}
	
}

@media screen and (max-width: 880px){
	.blog_article{

		article .port_img_column{ width: 100%; float: none; margin: 0 0 2em; }

		.page_title{
			margin: 0;
			padding: 0;
			width: 100%;
			font-size: 1.6em;
		}

	} 
}

@media screen and (max-width: 560px){
	.blog_article{
		article blockquote{ margin: 2em 0; }

		.page_title{
			font-size: 1.4em;
		}
	}
}
