.landing{
	@extend .new-wrapper;


	h3{
		line-height: 1.4em;
		font-family: 'Maison Neue Bold';
	}

	section{
		padding: 4em 0;
	}

	.red-hat{
		background: url('../assets/logos/redhat.png') no-repeat top center;
		background-size: 160px;
		padding-top: 100px;
		margin-top: 2em;
	}

	.bg-gray{
		background: #ccc;
	}

	.bg-blue{
		background: $nkblue;
		color: $white;
		padding: 2em 0;
		font-size: 1.4em;
	}

	.logos{
		@include clearfix;

		h2{
			text-align: center;
			text-transform: uppercase;
		}

		ul{ margin-top: 2em; }

		li{
			width: 50%;
			float: left;
			text-indent: -9999em;
			height: 100px;
			background-size: 50%;
			background-position: center;
			background-repeat: no-repeat;

			&.ibm{
				background-image: url('../assets/logos/ibm.png');
			}

			&.avid{
				background-image: url('../assets/logos/avid.png');
			}

			&.lenovo{
				background-image: url('../assets/logos/lenovo.png');
			}

			&.alfresco{
				background-image: url('../assets/logos/alfresco.png');
			}

			&.pantaho{
				background-image: url('../assets/logos/pantaho.png');
			}

			&.lulu{
				background-image: url('../assets/logos/lulu.png');
			}

			&.pspdfkit{
				background-image: url('../assets/logos/pspdfkit.png');
			}

			&.progress{
				background-image: url('../assets/logos/progress.png');
			}
		}
	}

	.container{
		flex-direction: column;
		display: flex;

		.tile{
			flex: 1 50%;
			padding: 2em;
			color: $white;
			text-align: center;
			justify-content: flex-start;

			span{ z-index: -1; }

			&:before{
				background: rgba(0,0,0,0);
			}

			&:hover:before{
				background: rgba( 0,179,227,.5 );
			}

			h4{
				width: 100%;
				text-indent: -9999em;
				background-size: 300px;
				height: 200px;
				background-position: center;
				background-size: 200px;
				background-repeat: no-repeat;
			}

			h5{
				width: 100%;
			}
		}

		.ansible{

			span{ background: #ff524d; }

			h4{ background-image: url('../assets/logos/ansible.png');}
		}


		.nginx{

			span{ background: url('../assets/logos/nginx_background.png'); }

			h4{ background-image: url('../assets/logos/nginx.png'); }
		}
	}

}

@media screen and (min-width: 800px){

.landing{

	.red-hat{
		background-position: left center;
		padding-left: 200px;
		padding-top: 0;

		h3{
			padding-left: 200px;
		}
	}

	.bg-gray h3{ padding-left: 200px; }

	.container{
		flex-direction: row;
	}

	.bg-blue{
		font-size: 2em;
	}

	.logos{

		li{
			width: 25%;
		}
	}

}


}

@media screen and (min-width: 1200px){
	.landing{
		font-size: 1.2em;
	}
}