.landing{
	@extend .new-wrapper;

	.page-intro-image{
		background: url('../assets/images/blog/mountain2-1600.jpg') no-repeat center 45%;
		background-size: cover;
		@include filter(grayscale(100%));
	}


	h3{
		line-height: 1.4em;
		font-family: 'Maison Neue Bold';
	}

	section{
		padding: 4em 0;
		@include clearfix;

		&.no-padding{
			padding: 0;
		}
	}

	.bg-gray{
		background: #ccc;
	}

	.bg-blue{
		background: $nkblue;
		color: $white;
	}

	.intro{

		padding: 2em 0;
		font-size: 1.4em;
	}

	.align-left{
		float: left;
		width: 50%;
		padding-right: 10%;
		@include box-sizing(border-box);

		h3{
			color: $nkblue;
			font-size: 1.2em;
		}
	}

	.align-right{
		float: right;
		width: 50%;
	}

	.logos{
		@include clearfix;

		h2{
			text-align: center;
			text-transform: uppercase;
		}

		ul{ margin-top: 2em; }

		li{
			width: 50%;
			float: left;
			text-indent: -9999em;
			height: 100px;
			background-size: 70%;
			background-position: center;
			background-repeat: no-repeat;

			&.ibm{
				background-image: url('../assets/logos/ibm.png');
			}

			&.avid{
				background-image: url('../assets/logos/avid.png');
			}

			&.lenovo{
				background-image: url('../assets/logos/lenovo.png');
			}

			&.alfresco{
				background-image: url('../assets/logos/alfresco.png');
			}

			&.pantaho{
				background-image: url('../assets/logos/pantaho.png');
			}

			&.lulu{
				background-image: url('../assets/logos/lulu.png');
			}

			&.pspdfkit{
				background-image: url('../assets/logos/pspdfkit.png');
			}

			&.progress{
				background-image: url('../assets/logos/progress.png');
			}
		}
	}

	.container{
		flex-direction: column;
		-webkit-display: flex;
		display: flex;

		.tile{
			flex: 1;
			padding: 2em;
			//height: 400px;
			color: $white;
			justify-content: flex-start;

			span{ z-index: -1; }

			&:before{
				background: rgba(0,0,0,0);
			}

			&:hover:before{
				background: rgba( 0,179,227,.5 );
			}

			

			h5{
				width: 100%;
			}

			&.image{

				h4, h5{
					text-align: center;
				}

				h4{
					width: 100%;
					text-indent: -9999em;
					background-size: 300px;
					height: 200px;
					background-position: center;
					background-size: 200px;
					background-repeat: no-repeat;
				}	
			}
		}

		.ansible{

			span{ background: #ff524d; }

			h4{ background-image: url('../assets/logos/ansible.png');}
		}


		.nginx{

			span{ background: url('../assets/logos/nginx_background.png'); }

			h4{ background-image: url('../assets/logos/nginx.png'); }
		}
	}

}

@media screen and (min-width: 800px){

.landing{

	.bg-gray h3{ padding-left: 200px; }

	.container{
		flex-direction: row;
	}

	.intro{
		font-size: 2em;
	}

	.logos{

		li{
			width: 12.5%;
		}
	}

	.container .tile{
		min-height: 200px;

		h4,h5{
			text-align: left;
		}
	}

}


}

@media screen and (min-width: 1200px){
	.landing{
		font-size: 1.2em;
	}
}